*{
    padding:0;
    box-sizing: border-box;
    margin:0;
    list-style-type:none;
    text-decoration:none;
}

    background:rgb(236, 232, 232);

.header{
    width:100%;
    height:15vh;
    position:relative;
 
}
.navigation-box{
    width:100%;
    height:6vh;
    position:relative;
}
.link{
    font-family:'Poppins',sans-serif;
    color:#000;
    font-size:17px;
    font-weight:400;
    
    
}
.first-link{
    margin-left:2%;
    margin-top:1%;
    position:absolute;
    font-weight:200;
}
.second-link{
    margin-left:26%;
    position:absolute;
    margin-top:1%;
    font-weight:600;
}
.third-link{
    margin-left:40%;
    margin-top:1%;
    position:absolute;
    font-weight:800;
}
.lang1{
    margin-left:65%;
    position:absolute;
    margin-top:1%;

}
.lang2{
    margin-left:74%;
    position:absolute;
    margin-top:1%;

}
.lang3{
    margin-left:81%;
    position:absolute;
    margin-top:1%;

}
.lang4{
    margin-left:91%;
    position:absolute;
    margin-top:1%;

}
.navigation-box2{
    width:100%;
    height:8vh;
    position:relative;
}
.main-logo{
    width:250px;
    margin-left:40%;
    position:absolute;
    margin-top:-1%;
}
#open-menu{
    width:45px;
    margin-top:5%;
    position:absolute;
    margin-left:1.5%;
    

}

.res{
    margin-left:80%;
    position:absolute;
    margin-top:5%;
    color:#fff;
    background:#000;
    font-family:'Inter',sans-serif;
    padding:15px 40px;
    text-transform:uppercase;
    letter-spacing: 2px;
}
.side-bar{
    position:absolute;
    height:160vh;
    width:100%;
    background:#fff;
    transition: all 2s ease-out;
    display:none;
 
    
    
}
#close-menu{
    margin-left:4%;
    margin-top:2%;
    
}
.side-heading{
    margin-left:4%;
    margin-top:2%;
    font-family:'Antic Slab',sans-serif;

}
.side-heading2{
    margin-left:4%;
    margin-top:2%;
    font-family:'Antic Slab',sans-serif;

}
.side-nav{
    margin-top:2%;
    margin-left:4%;
}
.side-nav2{
    margin-top:2%;
    margin-left:4%;
}
.side-nav li{
    margin:1.5% 1%;
}
.side-nav2 li{
    margin:1.5% 1%;
}
.side-nav a{
    font-family:'Antic Slab',sans-serif;
    color:#000;
    font-size:25px;
    margin:1% 1%;
}
.side-nav2 a{
    font-family:'Antic Slab',sans-serif;
    color:#000;
    font-size:25px;
    margin:1% 1%;
}
.img-frame{
    background-image:url('./bg.jpg');
    width:50%;
    height:80vh;
    float:right;
    position: absolute;
    margin-left:40%;
    margin-top:-60%;
    animation: frame 5s infinite;
    transition:5s;
}
@keyframes frame{
    50%{
        background-image:url('./bg2.jpg');
    }
    100%{
        animation:paused;
    }
}
.main-content{
    position:relative;
    width:100%;
    height:80vh;
    margin-top:10%;
    z-index:-9;

}
.main-image{
    height:60vh;
    margin-left:10%;
    margin-top:2%;
    width:80%;
}
#top-heading{
    font-family:'Antic Slab',sans-serif;
    text-align:center;
    font-size:40px;
    letter-spacing:4px;
}
#sub-heading{
    text-align:center;
    padding:20px 1px;
    font-size:18px;
    font-family:'DynaPuff',sans-serif;
    font-weight:400;

}
.full-content{
    width:100%;
    height:310vh;
    margin-top:5%;
}
#main-heading{
    font-family:'Source Code Pro',sans-serif;
    text-align:center;
    margin-left:4%;
}
#main-para{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:2%;
    letter-spacing:2px;
}
#main-heading2{
    font-family:'Source Code Pro',sans-serif;
    margin-left:8%;
    margin-top:4%;

}
#main-para2{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:3%;
    letter-spacing:2px;
}
#main-heading3{
    font-family:'Source Code Pro',sans-serif;
    margin-left:8%;
    margin-top:3%;

}
#main-para3{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:3%;
    letter-spacing:2px;
}
#main-heading4{
    font-family:'Source Code Pro',sans-serif;
    margin-left:8%;
    margin-top:3%;

}
#main-para4{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:2%;
    letter-spacing:2px;
}
#main-heading5{
    font-family:'Source Code Pro',sans-serif;
    margin-left:8%;
    margin-top:3%;

}
#main-para5{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:2%;
    letter-spacing:2px;
}
#main-heading6{
    font-family:'Source Code Pro',sans-serif;
    margin-left:8%;
    margin-top:3%;

}
#main-para6{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:2%;
    letter-spacing:2px;
}
#main-heading7{
    font-family:'Source Code Pro',sans-serif;
    margin-left:8%;
    margin-top:3%;

}
#main-para7{
    width:75%;
    text-align:center;
    font-family:'Inter',sans-serif;
    font-size:16px;
    margin-left:14%;
    margin-top:2%;
    letter-spacing:2px;
}
.img-slide{
    width:80%;
    height:20%;
    margin-left:10%;
    margin-top:4%;
   
   
}
.slide-1{
    width:45%;
    height:50vh;
    animation: simple 3s infinite;
    transition: all 3s ease-out;
}
.slide-2{
    width:45%;
    height:50vh;
    margin-left:2%;
    animation: simple 3s infinite;
    transition: all 3s ease-out;
}
@keyrframes simple{
    15%{
       transform:rotateX(30deg); 
    }
    45%{
        transform:rotateX(-45deg);
        opacity:70%;

    }
    75%{
        transform:rotate(-20deg);
    }
    100%{
        animation:paused;
    }
}
/*explore*/
.explore{
    width:100%;
    height:70vh;
    margin-top:13%;
}
.ex-row{
    position:relative;
    display:grid;
    grid-template-columns: 600px 600px 600px;
    margin-right:4%;
    width:60%;
    margin-left:5%;
    margin-right:10%;
}
.col{
    width:15%;
    height:40vh;
    animation: slide 3s infinite;
    transition:3s ease-out;
}
.ex-img{
    width:400px;
    height:45vh;
    position:absolute;
}
.col2 .ex-img{
        margin-left:-15%;
        position:absolute;
}
.col3 .ex-img{
    margin-left:-60%;
    position:absolute;
}
.ex-heading{
    text-align:center;
    font-family:'Antic Slab',sans-serif;
    font-size:45px;
    letter-spacing:3px;
    padding:20px 5px;
}
.bottom-heading{
    z-index:9;
    position:absolute;
    font-size:35px;
    font-family:'Antic Slab';
    background:#fff;
    padding:30px 20px;
    opacity:60%;

}
.col3 .bottom-heading{
    margin-left:-7%;
    position:absolute;
    margin-top:-6%;

}
.col2 .bottom-heading{
    margin-left:-7%;
    position:absolute;
    margin-top:-6%;

}
.sub-heading{
    z-index:12;

}
.ex-para{
    z-index:12;
}
@keyframes slide {
    24%{
        transform:translate3d(0.5,1rem);
    }
    50%{
        transform:rotateY(60deg);
    }
    100%{
        animation:paused;
    }
}
footer{
    width:100%;
    height:50vh;
    display:flex;
    background:rgb(255, 251, 237);
}
.f-1{
    width:500px;
    margin-left:10%;

}
.f-2{
    width:500px;
    margin-left:2%;
    
}
.f-3{
    width:500px;
    margin-left:2%;
    
}
.foot-head{
    text-transform:uppercase;
    letter-spacing:4px;
    font-family:'Antic Slab',sans-serif;
    font-size:25px;
    padding:20px 2px;
}
.foot-subhead{
    font-family:'Source Code Pro',sans-serif;
    font-size:20px;
    padding:20px 5px;

}
